@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap");

:root {
	--bg: #022129;
	--fr: rgb(234, 251, 248);
	--sec: rgb(12, 118, 148);
	--secD: rgb(10, 100, 124);
	--dark: rgb(1, 22, 28);
	--darkS: rgb(13, 46, 55);
	--secBg: rgb(179, 230, 243);
}
body {
	background-color: var(--bg);
	color: var(--fr);
	padding: 0;
	margin: 0;
}

* {
	font-family: "Inter", sans-serif;
}
a {
	color: rgb(174, 209, 219);
	text-decoration: none;
}
a:hover {
	color: var(--secBg);
}
li {
	font-size: 1.5rem;
}
h5 {
	font-size: 1rem;
	margin: 0.5vw 0 2vw 0vw;
}
article {
	width: 50%;
}

p {
	font-size: 1.5rem;
}
button {
	cursor: pointer;
	background-color: var(--secD);
	color: var(--fr);
	border: none;
	font-size: 2rem;
	border-radius: 0.5vw;
	padding: 0.3vw;
	text-align: center;
}
button:hover {
	background-color: var(--sec);
	border-radius: 0.8vw;
}
.content {
	margin: 5vw 3vw;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.headerText {
	text-decoration: underline double;
}
.nav {
	white-space: nowrap;
	width: 100%;
	position: fixed;
	display: inline;
	top: 0%;
	z-index: 1;
	background-color: var(--dark);
	padding: 0.2vw;
}
.logoText {
	cursor: pointer;
	padding: 0;
	margin: 0;
}
.nav * {
	z-index: 2;
	display: inline;
}
.language {
	top: 0;
	font-size: 2rem;
	float: right;
	margin: 1vh 1vw;
	cursor: pointer;
}
.redirs {
	font-size: 2rem;
	float: right;
	margin: 1vh 0;
}
.floatRight {
	float: right;
}
.blogs {
	float: right;
	margin: 2vw;
}
.projects {
	float: left;
	margin: 2vw;
}
.project:hover {
	background-color: var(--secD);
}

.project {
	cursor: pointer;
	background-color: var(--sec);
	color: var(--secBg);
	border-radius: 2vw;
	padding: 0 0 0.005vh 0;
	text-align: center;
}
.showoffImage {
	border-radius: 2vw 2vw 0.1vw 0.1vw;
}
.projectLink {
	color: var(--fr);
}
.mapImg {
	width: 50vw;
	border-radius: 2vw;
}
.footerPar {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px;
}
.footerImg {
	background-color: red;
	margin: 0;
	padding: 0 0 5vh 0;
	position: relative;
}
.player {
	cursor: pointer;
	position: relative;
	width: 5vw;
	height: 10vh;
	bottom: 17vh;
	left: 47%;
	z-index: 9;
}
.blackboxNav {
	background-color: black;
	left: 0;
	right: 0;
	height: 10vh;
	margin: -12vh 0 0 0;
}

.blackboxNav > h3 {
	float: right;
	padding: 1vh 1vw 0 0;
}
.smallImg {
	width: 50%;
	border-radius: 0.1vw;
}
.intro {
	border-radius: 2vw;
	padding: 0 0 3vh 0;
	width: 42%;
	margin: 2vw auto;
	background-color: rgba(0, 0, 0, 0.425);
}
.bigImgIntro {
	background-color: var(--bg);
	padding: 0vw;
	margin: 0vh;
	border-radius: 0 5vw 5vw 0;
	border-bottom: 1px solid red;
	width: 50%;
	transform: rotate(5deg);
	transform-origin: top left;
}
.introText {
	box-sizing: border-box;
	float: right;
	margin: 2vw;
	display: block;
}
.introText > h1 {
	font-size: 3rem;
}
.introText > a {
	display: block;

	text-align: center;
	font-size: 1.8rem;
}
.bigProjects {
	width: 85%;
}
.bigProject {
	cursor: pointer;
	color: var(--secBg);
	border-radius: 2vw;
	padding: 1vw;
	text-align: center;
	margin: 0 0 2vh 0;
	background-color: var(--secD);
	background: linear-gradient(to right, var(--darkS) 65%, var(--dark) 50%);
}
.desc {
	flex: 1 1 auto;
	font-size: 3rem;
	float: right;
	margin: 5vw;
}
.showoffBigImage {
	border-radius: 2vw 0vw 0vw 2vw;
	background-color: aliceblue;
	padding: 0vw;
	margin: 0;
}
