@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap");

body {
	background-color: rgb(2, 32, 40);
	color: rgb(234, 251, 248);
}

* {
	font-family: "Inter", sans-serif;
}
a {
	color: rgb(174, 209, 219);
	text-decoration: none;
}

.content {
	margin: 3vw;
}
